# Dependencias de Node
node_modules/

# Variables de entorno (¡MUY IMPORTANTE para proteger tu MongoDB!)
.env

# Archivos de log de NPM/Yarn (por si hay errores)
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Carpeta autogenerada por Netlify (si llegás a usar su CLI local)
.netlify/